body {
  background-color: #e2e8f0 !important;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.carousel-container {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(74, 141, 217);
}
.custom-arrow:hover {
  cursor: pointer;
  background-color: rgb(208, 208, 208);
  color: rgb(40, 202, 246);
}

.custom-arrow.left {
  left: 0px;
}

.custom-arrow.right {
  right: 0px;
}
.carousel-item-padding-40-px {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
